#root {
	margin: 0;
	padding: 2rem;
	text-align: center;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	width: 100%;
	min-height: 100vh;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.moviecontainer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.movie {
	display: block;
	border: solid #f3f3f3;
	background-color: #ae8787;
	border-radius: 8px;
	margin: 1em;
	min-width: 280px;
	max-width: 420px;
}

.menu {
	color: #242424;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
}

.menu-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-button > button {
	background-color: #f3f3f3;
	border: none;
	padding: 0.5em 1em;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	width: 150px;
	justify-content: space-between;
	margin: 0px 10px 10px 10px;
}

/* section {
	display: flex;
} */

.navbar {
	display: flex;
	justify-content: center;
}

.menu ul {
	width: 100%;
	background: white;
	display: none;
}

.menu ul.open {
	width: auto;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	top: 24%;
}

.menu > button {
	background-color: #f3f3f3;
	border: none;
	padding: 0.5em 1em;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative; /* Use relative positioning for the buttons */
}

ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

li {
	display: block;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 10px;
}

.open-menu {
	z-index: 20000;
}

.movie-single-result-container {
	display: flex;
	justify-content: center;
}

.movie-single-result {
	border: solid #f3f3f3;
	background-color: #ae8787;
	border-radius: 8px;
	margin: 1em;
	min-width: 280px;
	max-width: 420px;
}
